<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.android.vending.BILLING" />
    <application android:icon="@mipmap/ic_launcher">
        <service
            android:name=".fcm.PokeVerseFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:theme="@style/Theme.PokeVerse">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>
